.footer-container {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    margin-top: 100vh;
  }
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .copyright {
    margin-bottom: 10px;
  }
  
  .footer-nav {
    margin-top: 10px;
  }
  
  .footer-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .footer-link-item {
    margin: 10px;
  }
  
  .footer-link {
    color: white;
    text-decoration: none;
  }
  
  @media (max-width: 600px) {
    .footer-container {
      padding: 10px;
    }
  
    .footer-links {
      flex-direction: column;
      align-items: center;
    }
  
    .footer-link-item {
      margin: 5px 0;
    }
  }